<!DOCTYPE html>
<html>
	<head>
		<title> Sibab &mdash; Cadastro </title>
		<link rel="stylesheet" type="text/css" href="../static/cadastro.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="cadastro.js" media="screen" />
	</head>
	<body>
		<div class="container">
			<div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<div class="panel panel-info">
					<div class="panel-body" >
						<form  class="form-horizontal" action="/salvar_cadastro" method="POST">
							<input type='hidden' name='csrfmiddlewaretoken' value='XFe2rTYl9WOpV8U6X5CfbIuOZOELJ97S' />
							<div class="cadastro">
								<h4> REGISTRATION </h4>
							</div>
							<div id="div_id_pessoa" class="select_type">
								<label class="control-label col-md-4  requiredField"> Type of Registration<span class="asteriskField">*</span> </label>
								<select id="tipo_pessoa" name="tipo_pessoa" onchange="verificarPessoa()">
									<option value="sl" selected>Select</option>
									<option value="ip">Individual Person</option>
									<option value="bp">Business Person</option>
								</select>
							</div>
							<div id="div_id_name" class="form-group required">
								<label for="id_name" class="control-label col-md-4  requiredField"> Full name<span class="asteriskField">*</span> </label>
								<div class="controls col-md-8 ">
									<input class="input-md" id="id_name" name="name" placeholder="Your first and last name" style="margin-bottom: 10px" type="text" />
								</div>
							</div>
							<div id="div_id_email" class="form-group required">
								<label for="id_email" class="control-label col-md-4  requiredField"> E-mail<span class="asteriskField">*</span> </label>
								<div class="controls col-md-8 ">
									<input class="input-md" id="id_email" name="email" placeholder="Your current email address" style="margin-bottom: 10px" type="email" />
								</div>
							</div>
							<div id="div_id_birth" class="form-group required">
								<label for="id_birth" class="control-label col-md-4  requiredField"> Date of Birth<span class="asteriskField">*</span> </label>
								<div class="controls col-md-8 ">
									<input class="input-md" id="id_birth" name="date_of_birth" placeholder="Your birthday (yyyy/mm/dd)" style="margin-bottom: 10px" type="text" />
								</div>
							</div>
							<div id="div_id_rg" class="form-group required">
								<label for="id_rg" class="control-label col-md-4  requiredField"> RG<span class="asteriskField">*</span> </label>
								<div class="controls col-md-8 ">
									<input class="input-md" id="id_rg" name="rg" placeholder="Your number of RG" style="margin-bottom: 10px" type="text" />
								</div>
							</div>
							<div id="div_id_cpf" class="form-group required">
								<label for="id_cpf" class="control-label col-md-4  requiredField"> CPF<span class="asteriskField">*</span> </label>
								<div class="controls col-md-8 ">
									<input class="input-md" id="id_cpf" name="cpf" placeholder="Your number of CPF" style="margin-bottom: 10px" type="text" />
								</div>
							</div>
							<div id="div_id_cnpj" class="form-group required">
								<label for="id_cnpj" class="control-label col-md-4  requiredField"> CNPJ<span class="asteriskField">*</span> </label>
								<div class="controls col-md-8 ">
									<input class="input-md" id="id_cnpj" name="cnpj" placeholder="Your number of CNPJ" style="margin-bottom: 10px" type="text" />
								</div>
							</div>
							<div id="div_state_regis" class="form-group required">
								<label for="id_state_regis" class="control-label col-md-4  requiredField"> State Registration<span class="asteriskField">*</span> </label>
								<div class="controls col-md-8 ">
									<input class="input-md" id="id_state_regis" name="state_registration" placeholder="Your state registration" style="margin-bottom: 10px" type="text" />
								</div>
							</div>
							<div id="div_id_number" class="form-group required">
								 <label for="id_number" class="control-label col-md-4  requiredField"> Contact number<span class="asteriskField">*</span> </label>
								 <div class="controls col-md-8 ">
									 <input class="input-md" id="id_number" name="number" placeholder="Provide your number" style="margin-bottom: 10px" type="text" />
								</div>
							</div>
							<div id="div_id_location" class="form-group required">
								<label for="id_location" class="control-label col-md-4  requiredField"> Address<span class="asteriskField">*</span> </label>
								<div class="controls col-md-8 ">
									<input class="input-md" id="id_location" name="location" placeholder="Your pincode and city" style="margin-bottom: 10px" type="text" />
								</div>
							</div>
							<div id="div_id_username" class="form-group required">
								<label for="id_username" class="control-label col-md-4  requiredField"> Username<span class="asteriskField">*</span> </label>
								<div class="controls col-md-8 ">
									<input class="input-md" id="id_username" maxlength="30" name="username" placeholder="Choose your username" style="margin-bottom: 10px" type="text" />
								</div>
							</div>
							<div id="div_id_password1" class="form-group required">
								<label for="id_password1" class="control-label col-md-4  requiredField">Password<span class="asteriskField">*</span> </label>
								<div class="controls col-md-8 ">
									<input class="input-md" id="id_password1" name="password" placeholder="Create a password" style="margin-bottom: 10px" type="password" />
								</div>
							</div>
							<div>
								<input type="submit" class="saveButton" style="margin-left: 50px;">
							</div>
						</form>
						<script type="text/javascript">
							function verificarPessoa()
							{
								var option = document.getElementById('tipo_pessoa').value;

								if(option == 'ip')
								{
									document.getElementById('id_rg').disabled = false;
									document.getElementById('id_cpf').disabled = false;
									document.getElementById('id_birth').disabled = false;
									document.getElementById('id_cnpj').disabled = true;
									document.getElementById('id_state_regis').disabled = true;
								} else if(option == 'bp'){
									document.getElementById('id_rg').disabled = true;
									document.getElementById('id_cpf').disabled = true;
									document.getElementById('id_birth').disabled = true;
									document.getElementById('id_cnpj').disabled = false;
									document.getElementById('id_state_regis').disabled = false;
								}
							}
						</script>
					</div>s
				</div>
			</div>
		</div>
	</body>
</html>
